body{
    
    background-color: #e8edf3;
    
}


.container{
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 10vh 78vh 10vh;

      grid-template-areas:
        "header header header"
        "main1 main2 main3"
        "footer footer footer";
    text-align: center;
}


div {
    background-color: #bcd5d1;
}

.header{
    grid-area: header;
    text-align: center;
    border: 5px solid #e8edf3;
    box-shadow: 10px 10px 5px #888888;
}

.main1{
    grid-area: main1;
    text-align: center;
    padding: 20px;
    border: 5px solid #e8edf3;
    overflow-y: auto;
    box-shadow: 10px 10px 5px #888888;
}

.main2{
    grid-area: main2;
    text-align: center;
    padding: 20px;
    border: 5px solid #e8edf3;
    overflow-y: auto;
    box-shadow: 10px 10px 5px #888888;
}

.main3{
    grid-area: main3;
    text-align: center;
    padding: 20px;
    border: 5px solid #e8edf3;
    overflow-y: auto;
    box-shadow: 10px 10px 5px #888888;
}
.footer{
    grid-area: footer;
    text-align: center;
    border: 5px solid #e8edf3;
    box-shadow: 10px 10px 5px #888888;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.coin{
    margin-top: 20px;
}



.UnitDiv{
    border:  2px solid #e8edf3;
    border-collapse: collapse;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #bcd5d1;
    box-shadow: 4px 4px 3px #888888;
}

.UnitDivUnknown{
    border:  2px solid #e8edf3;
    border-collapse: collapse;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: gray;
    box-shadow: 4px 4px 3px #888888;
}

.UnitDiv:hover{
    background-color: #a6c1bd;
}
.UnitDiv:active:first-child{
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 1px;
    background-color: #a4d6cd;
    box-shadow: 3px 3px 3px #888888;
}

.UnitDiv:active{
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 1px;
    background-color: #a4d6cd;
    box-shadow: 3px 3px 3px #888888;
}

.UnitTable{
    display: block;
}
.UnitTable tbody{
    display: block;
}

.UnitTable span{
    
    font-size: 16px;
    text-align: center;
    margin: 6px;
}

.UnitTable tr {
    border:  2px solid #e8edf3;
    border-collapse: collapse;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.UnitButton{
    font-size: 14px;
    background-color: #e8edf3;
    padding: 3px 8px 3px 8px;
}

.UnitP{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 4px;
}

h1 {
    margin: 6px;
}

h3 {
    margin-top: 3px;
}

label {
    margin-right: 10px;
}


.DisabledUnitA {
    /* position: absolute; */
    /* visibility: hidden; */
    
    
    display: none;
}







